modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8901133379:AAEtwwA6aNDCiEt87aUk4EZVXVgHjP0f6Hc"
ADMIN_TELEGRAM_IDS = "6592352872"
NVIDIA_API_KEY = "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"
KLING_API_KEY = "ADFdtNMr3dNntYDHpLpLNByH9ybB4Ftn"
KLING_SECRET_KEY = "HGLRgF9pa4D8D98AMJdL9aDEtn9HG4T4"
REMOVEBG_API_KEY = "CsBKn7zSat1xHNsUWyHLRFfp"
ASSEMBLYAI_API_KEY = "542c8b4a6aa44e9aa71e0072b680be36"
DEEPGRAM_API_KEY = "28bda2572c36c81e8edc01858304c251fdab8ae7"
